<app-header></app-header>
<main>
  @if (userProfile!=undefined) {
  <section class="user-profile-section">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="user-circle.png" alt="profile-picture" class="profile-picture">
        </div>
        <div class="col-8 mt-2">
          <h2 class="name">{{userProfile().name}}</h2>
          <h6 class="username" (click)="copyUsername()">{{"@"+userProfile().username}}</h6>
          <div class="row mt-4">
            <div class="col-4">
              <h4 class="user-info-labels post-label">Posts</h4>
              @if (userPosts!=undefined) {
              <h5>{{userPosts().length}}</h5>
              }
            </div>
            <div class="col-4">
              <h4 class="user-info-labels friend-label">Friends</h4>
              @if (userFriends!=undefined) {
              <h5>{{userFriends().length}}</h5>
              }
            </div>
            <div class="col-4" (click)="requestsClick()">
              <h4 class="user-info-labels request-label">Requests</h4>
              @if (friendRequests!=undefined) {
              <h5>{{friendRequests.length}}</h5>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="user-posts-section">
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 d-flex flex-direction-column justify-content-between align-items-center mb-3">
          <h2>Your Posts</h2>
          <button class="create-post btn">Create new post</button>
        </div>
      </div>
      @if (userPosts!=undefined) {
      <div class="row">
        @for (post of userPosts(); track post.id) {
        <div class="col-12 col-md-6 mb-3">
          <app-post [post]="post" [username]="userProfile().username"></app-post>
        </div>
        }
      </div>
      }
    </div>
  </section>
  }
</main>
<app-footer></app-footer>
