@use "../../../variables" as vars;

section.user-profile-section {
  margin-top: 2rem;
  overflow: hidden;
  >.container{
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--jet-black);
  }
}
.profile-picture {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  user-select: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.name {
  font-weight: 700;
}
.username {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--jet-black);
  user-select: none;
  margin-bottom: 0;
}
.profile-group-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .edit-profile{
    background-color: var(--accent);
    color: var(--jet-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    @media (max-width: (vars.$bs-breakpoint-md - 1)) {
      align-self: self-end;
    }
  }
}
.user-info-labels {
  &, & + h5 {
    font-family: var(--font-roboto);
    cursor: default;
  }
  @media (max-width: 330px) {
    font-size: 13px;
  }
  @media (min-width: 330px) and (max-width: vars.$bs-breakpoint-sm) {
    font-size: 1rem;
  }
}
.col-4:has(.request-label),.col-4:has(.friend-label){
  &, h4, h5{
    cursor: pointer;
  }
}

.create-post{
  font-weight: 700;
  &, &:active{
    background-color: var(--accent);
    color: var(--jet-black);
    border: 1px solid var(--accent);
  }
  &:focus, &:active{
    outline: none;
    box-shadow: 0 0 0 .25rem #91c5fe7a;
  }
}
