@use "../../../variables" as vars;

section.user-profile-section {
  margin-top: 2rem;
  overflow: hidden;
  >.container{
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--jet-black);
  }
}
.profile-picture {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  user-select: none;
}
.name {
  font-weight: 700;
}
.username {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--orange);
  color: var(--off-white);
  user-select: none;
}
.user-info-labels {
  &, & + h5 {
    font-family: var(--font-roboto);
    cursor: default;
  }
  @media (max-width: 330px) {
    font-size: 13px;
  }
  @media (min-width: 330px) and (max-width: vars.$bs-breakpoint-sm) {
    font-size: 1rem;
  }
}
.col-4:has(.request-label),.col-4:has(.friend-label){
  &, h4, h5{
    cursor: pointer;
  }
}

.create-post{
  background-color: var(--orange);
  color: var(--off-white);
}
