section.login-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.login-form{
  width: clamp(320px, 25%, 600px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  a:has(img){
    align-self: center;
  }
  h1{
    font-weight: 700;
  }
  a.register-link{
    font-size: 12px;
  }
  button[type=submit]{
    background-color: var(--accent);
    color: var(--jet-black);
    font-weight: 700;
    border: none;
    outline: none;
    &:focus{
      box-shadow: 0 0 0 3px #91c5fe7a;
    }
  }
}
