@use "bootstrap/scss/bootstrap";

:root {
  --teal: #37A5A5;
  --secondary: #FFB5A7;
  --secondary2: #FFD6A5;
  --jet-black: #333333;
  --jet-black2: #777777;
  --off-white: #F2F2F2;
  --accent: #91c5fe;
  --font-roboto: "Roboto", sans-serif;
  --font-lora: "Lora", serif;
  --header-height: 60px;
  --footer-height: 100px;
}

html,body {
  margin: 0;
  padding: 0;
  color: var(--jet-black);
  scroll-behavior: smooth;
}
* {
  font-family: var(--font-roboto);
  font-optical-sizing: auto;
  scrollbar-color: var(--teal) var(--bs-light);
  scrollbar-width: thin;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-lora);
}
main {
  min-height: 100vh;
  background-color: #f8ffff;
}
body:has(header) main {
  padding-top: var(--header-height);
}
body:has(footer) main {
  min-height: max(calc(100vh - var(--footer-height)), 300px);
}
.invalid{
  color: var(--bs-form-invalid-color);
}
.teal-tooltip{
  .tooltip-inner{
    background-color: var(--teal);
    color: var(--off-white);
  }
  &.bs-tooltip-end .tooltip-arrow::before{
    border-right-color: var(--teal);
  }
  &.bs-tooltip-start .tooltip-arrow::before{
    border-left-color: var(--teal);
  }
  &.bs-tooltip-top .tooltip-arrow::before{
    border-top-color: var(--teal);
  }
  &.bs-tooltip-bottom .tooltip-arrow::before{
    border-bottom-color: var(--teal);
  }
}
