main:has(.signup-section){
  display: flex;
  align-items: center;
}
section.signup-section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.signup-form{
  width: clamp(320px, 25%, 600px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  h1{
    font-weight: 700;
  }
  a.register-link{
    font-size: 12px;
  }
  button[type=submit]{
    background-color: var(--orange);
    color: var(--off-white);
  }
}